<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Cadastrar Novo Contato</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="uploadForm" (ngSubmit)="cadastrarContato()">


                    <input type="file" formControlName="profile" (change)="onFileSelect($event)" />

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nome</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""
                            formControlName="nome" [(ngModel)]="contato.nome">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Telefone</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""
                            formControlName="numero" [(ngModel)]="contato.numero">
                    </div>

                    <!-- <input type="file" formControlName="profile" (change)="onFileSelect($event)" /> -->
                    <div class="text-right">
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>