<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header card-header-rose">
                    <h4 class="card-title">Lista de Contatos</h4>
                    <!-- <p class="card-category">Here is a subtitle for this table</p> -->
                </div>
                <div class="card-content table-responsive table-full-width">
                    <table class="table">
                        <thead class="text-danger">
                            <th></th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Ações</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contato of contatos;">
                                <td>
                                    <div id="imagens">
                                        <img src="{{contato.foto}}" width="100" />
                                    </div>
                                </td>
                                <td>{{contato.nome}}</td>
                                <td> <i class="pi pi-phone"> </i> {{contato.numero}}</td>
                                <td>
                                    <button class="btn btn-info btn-fab btn-round" [routerLink]="['/editar', contato.id_contato]">
                                        <i class="fas fa-edit" ></i></button>
                                    <button class="btn btn-danger btn-fab btn-round"
                                        (click)="alertaConfirmacao(contato.id_contato)">
                                        <i class="fas fa-trash"></i></button>

                                        
                                </td>
                            </tr>
                        </tbody>
                    </table>                   
                </div>
            </div>
        </div>
    </div>
<div>

        <!-- <p-menubar [model]="items" class="p-shadow-24" [style]="{
    backgroundColor:'var(--blue-500)', 
    color:'var(--blue-50'
}">
</p-menubar>

<p-card content="content" [style]="{'width': '40rem', 'margin-top': '2em', backgroundColor:'var(--blue-500)'}" class="p-shadow-24">
    <p-table [value]="contatos">
        <ng-template pTemplate="header" [style]="{
            backgroundColor:'var(--blue-500)'
        }">
            <tr>
                <th></th>
                <th>Nome</th>            
                <th>Telefone</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contato>
            <tr>
                <td>
                    <div id="imagens">
                        <img src="{{contato.foto}}" width="100" />
                    </div></td>   
                <td>{{contato.nome}}</td>                     
                <td> <i class="pi pi-phone"> </i>  {{contato.numero}}</td>
                <td>
                <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-success"(click)="abrirJanelaAlterarContato(contato)" ></button>
                <button pButton icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="deletarContato(contato.id_contato)"></button>
                </td>            
            </tr>
        </ng-template>        
    </p-table>
</p-card>



<p-dialog header="Novo contato" [(visible)]="display" [style]="{width: '30vw'}">
     <form>
        
        <p>Foto: <input type="file" [(ngModel)]="contato.foto" (change)="selecionarImagem($event)"></p><br>
        <button type="button" (click)="cadastrarContato()"></button>
        
    </form> -->


        <!-- <form [formGroup] = "uploadForm" (ngSubmit)="cadastrarContato()">  
        <p>Nome: <input type="text" formControlName="nome" [(ngModel)]="contato.nome"></p><br>
        <p>Telefone: <input type="text" formControlName="numero" [(ngModel)]="contato.numero"></p><br>    
        <div>
          <input type="file" formControlName="profile" (change)="onFileSelect($event)" />
        </div>
        <div>
          <button type="submit">Cadastrar</button>
        </div>
      </form>
</p-dialog>


<p-dialog header="Alterar contato" [(visible)]="display_alterar" [style]="{width: '30vw'}">    

    <form [formGroup] = "uploadForm" (ngSubmit)="alterarContato()">  
        <p>Nome: <input type="text" formControlName="nome" [(ngModel)]="contato.nome"></p><br>
        <p>Telefone: <input type="text" formControlName="numero" [(ngModel)]="contato.numero"></p><br>    
        <div>
          <input type="file" formControlName="profile" (change)="onFileSelect($event)" />
        </div>
        <div>
          <button type="submit">Alterar</button>
        </div>
      </form>
</p-dialog> -->








        <!-- <html>
<p-orderList [value]="contatos" [listStyle]="{'max-height':'30rem', 'max-width': '80rem'}"header="Lista de contatos" filterBy="nome" filterPlaceholder="Filter by name">
    <ng-template let-contato pTemplate="contato">
        <div class="contato-item">
            <div class="image-container" id="imagens">
                    <img src="{{contato.foto}}" [alt]="contato.name" class="product-image" />
            </div>
            <div class="product-list-detail">
                <h5 class="p-mb-2">{{contato.nome}}</h5>
                <i class="pi pi-phone product-category-icon"></i>
                <span class="product-category"> {{contato.numero}}</span>
            </div>
            <div class="product-list-action"> -->
        <!-- <button style="margin-right:10px;" pButton type="button" icon="pi pi-pencil" class="p-button-success" iconPos="left" (click)="editarContato()"></button> -->
        <!-- <button pButton type="button" icon="pi pi-times" class="p-button-danger" iconPos="left" (click)="deletarContato(contato.id_contato)"></button>
            </div>
        </div>
    </ng-template>
</p-orderList>
</html> -->

        <!--separando-->


        <!-- <div class="card">
    <p-dataView #dv [value]="contatos" layout="listItem">
        <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name">
                </span>
            </div>
        </ng-template>
        <ng-template let-contato pTemplate="listItem">
            <div class="p-col-12">
                <div class="product-list-item" >
                    <img src="{{contato.foto}}" [alt]=""/>
                    <div class="product-list-detail">
                        <div class="product-name">{{contato.nome}}</div>
                        <i class="pi pi-phone product-category-icon"></i>
                        <span class="product-category">{{contato.numero}}</span>
                    </div>
                    <div class="product-list-action">
                        <p-button icon="pi pi-pencil" label="Editar"></p-button>
                        <p-button icon="pi pi-times" label="Apagar"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div> -->