
div#imagens img {
    /* width: 100px!important;
    height: 100px!important; */
    box-shadow: 0 3px 9px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    }

body {
    background-color:grey;
}






