<!--<app-contatos></app-contatos>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- <script src="sweetalert2.min.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item" routerLinkActive="nav-item active">
                <a class="nav-link "  href="#">Contatos <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item" routerLinkActive="nav-item active">
                <a class="nav-link"  href="cadastrar/">Cadastrar novo</a>
              </li>              
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        <router-outlet></router-outlet>
      </div>
</body>
</html>




